/* -------------------------------- Solutions Section ------------------------------------------ */

.solutions-section {
  position: relative;
  width: 100%;
}

.solution-canvas-container {
  position: absolute;
  z-index: 0;
}

.solution-canvas-container > canvas {
  height: 115vh;
}

#solution-gradient-canvas {
  --gradient-color-1: #3db0a0;
  --gradient-color-2: #d45d51;
  --gradient-color-3: #ffbd8a;
  --gradient-color-4: #f1991d;
}

@media (min-width: 1024px) {
  .solution-canvas-container {
    /* height: 90vh; */
  }
}

.solutions-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  padding: 4rem 1.5rem; /* py-16 px-6 */
}

@media (min-width: 640px) {
  .solutions-container {
    padding-left: 2.5rem; /* sm:px-10 */
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .solutions-container {
    padding-left: 5rem; /* md:px-20 */
    padding-right: 5rem;
  }
}

@media (min-width: 1024px) {
  .solutions-container {
    padding-left: 8rem; /* lg:px-32 */
    padding-right: 8rem;
  }
}

.solutions-section h2 {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.015em;
  color: white;
}

@media (min-width: 640px) {
  .solutions-section h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .solutions-section h2 {
    font-size: 3rem;
  }
}

.solution-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

@media (min-width: 640px) {
  .solution-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .solution-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.solution-card {
  background-color: white;
  border-radius: 1.5rem; /* rounded-3xl */
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  cursor: pointer;
}

.solution-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  scale: 1.02;
}

@media (min-width: 640px) {
  .solution-card {
    padding: 2rem; /* sm:p-8 */
  }
}

.solution-card h3 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;
  margin: 1rem 0;
}

@media (min-width: 640px) {
  .solution-card h3 {
    font-size: 1.25rem; /* sm:text-xl */
  }
}

.solution-card p {
  font-size: 0.875rem; /* text-sm */
  color: var(--gray-700);
}

@media (min-width: 640px) {
  .solution-card p {
    font-size: 1rem; /* sm:text-base */
  }
}

.solution-card img {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .solution-canvas-container > canvas {
    height: 125vh;
  }
}

@media screen and (max-width: 1000px) {
  .solution-canvas-container > canvas {
    height: 150vh;
  }
}

@media screen and (max-width: 850px) {
  .solution-canvas-container > canvas {
    height: 155vh;
  }
}

@media screen and (max-width: 700px) {
  .solution-canvas-container > canvas {
    height: 165vh;
  }
}

@media screen and (max-width: 640px) {
  .solution-canvas-container > canvas {
    height: 200vh;
  }
}

@media screen and (max-width: 570px) {
  .solution-canvas-container > canvas {
    height: 210vh;
  }
}

@media screen and (max-width: 464px) {
  .solution-canvas-container > canvas {
    height: 225vh;
  }
}

@media screen and (max-width: 400px) {
  .solution-canvas-container > canvas {
    height: 235vh;
  }
}

@media screen and (max-width: 360px) {
  .solution-canvas-container > canvas {
    height: 245vh;
  }
}

@media screen and (max-width: 340px) {
  .solution-canvas-container > canvas {
    height: 255vh;
  }
}

@media screen and (max-width: 320px) {
  .solution-canvas-container > canvas {
    height: 265vh;
  }
}

@media screen and (max-width: 300px) {
  .solution-canvas-container > canvas {
    height: 275vh;
  }
}
